body {
  padding: 0;
  margin: 0;
  background-color: #323032;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: #fff;
}

.title h1:hover {
  color: red;
  cursor: pointer;
}

.inputs p {
  margin: 0;
  margin-top: -15px;
  font-size: 13px;
}

.inputs {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs input {
  height: 4vh;
  margin-right: 15px;
  border: 1px solid rgb(36, 29, 29);
  background-color: #fff;
  border-radius: 4px;
}

.inputs input::placeholder {
  color: grey;
}

.input-name input {
  width: 90%;
}

.input-name p {
  color: #fff;
}

.input-number p {
  color: #fff;
}

.add-btn input {
  height: 4.5vh;
  width: 90%;
  background-color: #306997;
  color: #fff;
}

.add-btn input:hover {
  background-color: #5386b1;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.item-list {
  background-color: grey;
}

.item {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #306997;
  margin-bottom: 5px;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.item:hover {
  background-color: #2a6392;
  color: #fff;
  transition: 0.5s;
}

.item-name {
  padding-right: 2%;
}

.change-name-input {
  margin-left: 2%;
  width: 300px;
  height: 30px;
  font-size: 16px;
}

.change-number-input {
  margin-left: 2%;
  width: 300px;
  height: 30px;
  font-size: 16px;
}

.change-date-input {
  margin-left: 2%;
  width: 300px;
  height: 30px;
  font-size: 16px;
}

.icons {
  display: flex;
}

.rename-icon {
  margin-right: 15px;
}

.total-sum {
  text-align: center;
  height: 60px;
  width: 150px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #477485;
  border-radius: 20px;
}

.total-sum:hover {
  background-color: #2a6392;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 900px) {
  .item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .inputs {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .list {
    margin-left: 2%;
    margin-right: 2%;
  }

  .item {
    height: 10vh;
    max-height: 80px;
    font-size: 0.8rem;
  }

  .changeSpendInput {
    width: 20%;
    height: 25%;
  }

  .item-date {
    padding-right: 5%;
  }

  .input-name {
    margin-bottom: 5%;
  }

  .input-name input {
    width: 80vw;
  }

  .input-number input {
    margin-bottom: 5%;
    width: 80vw;
  }

  .add-btn {
    margin-left: 55%;
  }

  .add-btn input {
    height: 4vh;
    width: 30vw;
  }

  .total-sum {
    font-size: 20px;
    margin-right: 12%;
    display: flex;
  }

  .img img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
