body {
  padding: 0;
  margin: 0;
  background-color: #63757f;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: rgb(100, 49, 49);
}

.title h1:hover {
  color: red;
  cursor: pointer;
}

.inputs p {
  margin: 0;
  margin-top: -15px;
  font-size: 13px;
}

.inputs {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs input {
  height: 4vh;
  margin-right: 15px;
  border: 1px solid rgb(36, 29, 29);
  background-color: #fff;
  border-radius: 4px;
}

.inputs input::placeholder {
  color: grey;
}

.input-name input {
  width: 90%;
}

.add-btn input {
  height: 4.5vh;
  width: 90%;
  background-color: #47856a;
}

.add-btn input:hover {
  background-color: #30973e;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.item-list {
  background-color: grey;
}

.item {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #7d94a1;
  margin-bottom: 5px;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  background-color: #a4b0b8;
  transition: 0.5s;
}

.item-name {
  padding-right: 2%;
}

.change-name-input {
  margin-left: 2%;
  width: 300px;
  height: 30px;
  font-size: 16px;
}

.change-number-input {
  margin-left: 2%;
  width: 300px;
  height: 30px;
  font-size: 16px;
}

.icons {
  display: flex;
}

.rename-icon {
  margin-right: 15px;
}

.total-sum {
  text-align: center;
  height: 60px;
  width: 150px;
  border: 1px solid black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #47856a;
}

.total-sum:hover {
  background-color: #30973e;
  transition: 0.5s;
  cursor: pointer;
}
